
<% form_for (@conversation ||= @group.conversations.build), "/groups/#{@group.slug}/conversations/new", :id => 'new-conversation', :class => 'form-horizontal', :multipart => true do |f| %>
  <%= f.text_block :subject, label_class: 'd-none' %>
  <%= f.wysiwyg_block :body, label_class: 'd-none' %>
  <a class="btn btn-secondary" href="javascript:;" onclick="$(this).hide();
      $(this).next().show();
      $(this).next().find('input').click();"><%=I18n.t(:attach_a_file).capitalize%></a>
  <div style="display:none;">
    <%= f.file_block :file, label_class: 'd-none' %>
  </div>
  <button type="submit" class="btn btn-primary"><%=I18n.t(:post).capitalize%></button>
<% end %>
