
<a  href="/conversations/<%=conversation_post.conversation.slug%>#conversation-post-<%=conversation_post.id%>" title="<%=conversation_post.created_at%>"><%=timeago(conversation_post.created_at)%></a>
&middot;

<span class="conversation-post-like">
  <%= partial :'conversations/like', :locals => {:conversation_post => conversation_post} %>
</span>

<% if @membership and @membership.admin? %>
  &middot;
  <a  data-confirm="Are you sure you want to resend emails for this post?" href="/conversation_posts/<%=conversation_post.id%>/resend">Resend</a>
<% end %>



