<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li class="breadcrumb-item"><a href="/groups/<%=@group.slug%>"><%=@group.name%></a></li>
  <li class="breadcrumb-item active"><%=@conversation.subject%></li>
</ol>

<div class="row">

  <div class="col-sm-8" style="margin-bottom: 20px">

    <h1 style="margin-top: 0; text-transform: none"><%=@conversation.subject%></h1>

    <% if @membership %>

      <% @pills = [
        (if @conversation.conversation_mutes.find_by(account: current_account)
            [%Q{<i class="fa fa-volume-up"></i> Unmute conversation}, "/conversations/#{@conversation.slug}/unmute"]
            else
            [%Q{<i class="fa fa-volume-off"></i> Mute conversation}, "/conversations/#{@conversation.slug}/mute"]
          end),
        (if @membership.admin?
            [%Q{<i class="fa fa-times"></i> Hide conversation}, "/conversations/#{@conversation.slug}/hide"]
            if !@conversation.pinned?
              [%Q{<i class="fa fa-map-pin"></i> Pin conversation}, "/conversations/#{@conversation.slug}/pin"]
              else
              [%Q{<i class="fa fa-map-pin"></i> Unpin conversation}, "/conversations/#{@conversation.slug}/unpin"]
            end
          end
        )
        ].compact %>
      <%= partial :pills %>

    <% end %>    

    <%     
    @conversation_posts = @conversation.visible_conversation_posts.order_by(:created_at.asc).per_page(params[:per_page] || 20).page(params[:page])           
    @conversation_posts.each { |conversation_post|  %>
      <%= partial :'conversations/conversation_post', :locals => {:conversation_post => conversation_post} %>
    <% } %>


    <% unless (p = page_entries_info @conversation_posts, :model => 'Post') =~ /^Displaying <b>all/ or p =~ /^Displaying <b>1<\/b>/ %>
      <div style="text-align: center; margin-bottom: -20px">
        <p style="margin-top: 10px; margin-bottom: -10px"><%= p %></p>
        <%= will_paginate @conversation_posts, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
      </div>    
    <% end %>

    <% if @membership %>

      <div class="media">
        <span class="mr-3">
          <%= partial :'accounts/square', :locals => {:account => current_account, :style => 'width: 32px;'} %>
        </span>
        <div class="media-body">

          <% form_for (@conversation_post ||= @conversation.conversation_posts.build), "/conversations/#{@conversation.slug}", :class => 'form-horizontal', :multipart => true do |f| %>
            <%= f.wysiwyg_block :body, label_class: 'd-none' %>
            <a class="btn btn-secondary" href="javascript:;" onclick="$(this).hide();
          $(this).next().show();
          $(this).next().find('input').click();"><%=I18n.t(:attach_a_file).capitalize%></a>
            <div style="display:none;">
              <%= f.file_block :file, label_class: 'd-none' %>
            </div>
            <button type="submit" class="btn btn-secondary"><%=I18n.t(:post).capitalize%></button>
          <% end %>      

        </div>
      </div> 

    <% end %>


  </div>
  <div class="col-sm-4">

    <% if current_account %>
      <h2 style="margin-top: 0"><%=pluralize(@conversation.participants.count,'participant')%> in this conversation</h2>
      <%= partial :'accounts/list', :locals => {:scope => 'conversation', :scope_id => @conversation.id} %>
    <% else %>
      <%= partial 'groups/join', :locals => {:group => @group} %>
    <% end %>    
  </div>
</div>


