<style>
  div.infowindow { white-space: nowrap }
</style>

<script>
  $(function () {
  map = new google.maps.Map(document.getElementById("map-canvas"), {
  mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          scaleControl: true,
          streetViewControl: false,
          maxZoom: 16,
<% if @disable_scrollwheel %>
    scrollwheel: false
<% end %>
  });
  var bounds = new google.maps.LatLngBounds();
  var points = []
<% points.select(&:coordinates).each { |point| f = (point.is_a?(Account) ? (1 + (rand-0.5)/5000) : 1) %>
    points.push({
    id: '<%=point.id%>',
            lat: <%=f*point.lat%>,
            lng: <%=f*point.lng%>,
            color: '<%=point.class.marker_color%>',
            name: "<%=js_escape_html(point.try(:name) || point.try(:title))%>",
            content: '<%=js_escape_html(partial "maps/#{point.class.to_s.underscore}".to_sym, :object => point)%>'
    })
<% } %>


  var infowindow = new google.maps.InfoWindow();
  var markers = []
          for (i = 0; i < points.length; i++) {
  var point = points[i];
  var pinColor = point.color;
  var pinImage = new google.maps.MarkerImage(
          "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
          new google.maps.Size(21, 34),
          new google.maps.Point(0, 0),
          new google.maps.Point(10, 34)
          );
  var marker = new google.maps.Marker({
  position: new google.maps.LatLng(point.lat, point.lng),
          title: point.name,
          icon: pinImage,
          content: point.content
  });
  google.maps.event.addListener(marker, 'click', function (marker) {
  return function () {
  infowindow.setContent('<div class="infowindow">' + marker.content + '</div>');
  infowindow.open(map, marker);
  }
  }(marker));
  bounds.extend(marker.getPosition());
  markers.push(marker);
  }

  var markerClusterer = new MarkerClusterer(map, markers, {maxZoom: 14});
<% if defined?(global) %>
    if ($(window).width() > 768) {
    map.setCenter(new google.maps.LatLng(40, - 20))
            map.setZoom(3)
    } else {
    map.setCenter(new google.maps.LatLng(53, - 1))
            map.setZoom(3)
    }
<% elsif !points.empty? %>
    map.fitBounds(bounds);
<% end %>

  });</script>

<style>  
  #map-form { margin-top: 1rem }
  #map-form i.fa-map-marker { float: right }
  #map-canvas { height: 50vh }
  @media(min-width: 768px) {
    #map-container { position: relative; height: 100% }
    #map-canvas { width: 100%; height: 100%; }        
    #map-form { margin-top: 0; position: absolute; width: 20%; top: 0; right: 0; background: rgba(255,255,255,0.8); padding: 20px }   
  }
</style>

<div id="map-container">
  <div id="map-canvas"></div>

  <% if params[:form] %>
    <script>
      $(function () {
      $('#map-form input, #map-form select').change(function () {
      $(this.form).submit();
      });
      $('#map-form').submit(function (e) {
      var form = this;
      e.preventDefault();
      $('.fa-spinner', this).show();
      $('#map').load('/map?' + $(this).serialize(), function () {
      $('.fa-spinner', form).hide();
      $('button[type=submit]', form).attr('disabled', false).html('<%= I18n.t(:search).capitalize%>');
      });
      return false;
      });
      });</script>
    <form id="map-form">
      <input type="hidden" name="form" value="1" />
      <div class="checkbox">
        <label>
          <%= check_box_tag :accounts, :value => true, :checked => params[:accounts] %>
          <%= I18n.t(:people).capitalize%>  <i class="fa fa-map-marker" style="color: <%= "##{Account.marker_color}" %>"></i>
        </label>
      </div>              
      <div class="checkbox">
        <label>          
          <%= check_box_tag :organisations, :value => true, :checked => params[:organisations]  %>
          <%= I18n.t(:organisations).capitalize%> <i class="fa fa-map-marker" style="color: <%= "##{Organisation.marker_color}" %>"></i>
        </label>
      </div>   
      <div class="checkbox">
        <label>
          <%= check_box_tag :events, :value => true, :checked => params[:events] %>
          <%= I18n.t(:events).capitalize%>  <i class="fa fa-map-marker" style="color: <%= "##{Event.marker_color}" %>"></i>
        </label>
      </div>      
      <i class="fa fa-spin fa-spinner" style="display: none"></i>
    </form>
  <% end %>

</div>
