<% form_tag '/organisations/results', :method => 'get', :id => 'results-form' do %>

  <div class="row justify-content-between">
    <div class="col-sm">
      <div class="row align-items-center">
        <div class="col-sm mb-1 mb-sm-0" style="position: relative"> 
          <%= text_field_tag :name, :class => 'input-sm form-control', :placeholder => I18n.t(:filter_by_name).capitalize, :value => params[:name] %>
          <i id="filter-spin" style="display: none; position: absolute; right: -5px; top: 9px" class="fa fa-spin fa-spinner"></i>
        </div>

        <div class="col-sm mb-1 mb-sm-0" style="position: relative"> 
          <%= select_tag :organisation_type, :class => 'input-sm form-control', :options => Hash[[['All organisation types','']] + Organisation.organisation_types.reject { |ot| ot.blank? }.map { |ot| [ot,ot] }], :selected => params[:organisation_type] %>
        </div>    

        <div class="col-sm mb-1 mb-sm-0" style="position: relative"> 
          <label>
            Organisations with people <%= check_box_tag :with_affiliations, :checked => params[:with_affiliations] %>
          </label>
        </div>            
      </div>
    </div>
    <div class="col-sm-auto">
      <i style="margin-right: 4px" title="Sort by" class="fa fa-sort"></i>
      <%= select_tag :o, :class => 'form-control input-sm', :style => 'display: inline; width: auto', :options => {'Last updated' => :date, 'Name' => :name}, :selected => (defined?(o) ? o : :date) %>                      
    </div>
  </div>


  <%= submit_tag '', :style => 'display: none' %>

<% end %>  

<div id="results" class="page-container" style="margin-top: 10px"></div>
