
<% if @organisation.persisted? %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/organisations"><%=I18n.t(:organisations).capitalize%></a></li>
    <li class="breadcrumb-item"><a href="/o/<%=@organisation.username_or_id%>"><%=@organisation.name%></a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
<% else %>
  <h1>New organisation</h1>
<% end %>

<script>
  $(function () {
    var autocomplete = new google.maps.places.Autocomplete($('#organisation_address')[0]);
    $('#organisation_address').keydown(function (e) {
      if (e.which == 13 && $('.pac-container:visible').length)
        return false;
    });
  })
</script>

<div class="container">

  <% form_for @organisation, @organisation.new_record? ? "/organisations/new" : "/organisations/#{@organisation.id}/edit", :class => 'form-horizontal', :multipart => true do |f| %>

    <%= f.text_block :name %>
    <%= f.text_block :username %>
    <%= f.text_block :address %>
    <%= f.text_block :website %>
    <%= f.select_block :organisation_type %>
    <%= f.image_block :picture, rotate: false %>
    <%= f.submit_block destroy_url: ("/organisations/#{@organisation.id}/destroy" if admin? or @organisation.affiliations.empty?) %>

  <% end %>

</div>