<% content_for :cover_right do %>
  <a class="btn btn-primary" href="/organisations/<%=@organisation.id%>/edit"><i class="fa fa-pencil"></i> Edit organisation</a>
<% end %>

<% content_for :cover_left_left do %>
  <% if @organisation.picture %>    
    <a href="/o/<%=@organisation.username_or_id%>"><img class="rounded-circle" style="width: 200px;" src="<%=@organisation.picture.thumb('500x500#').url%>" /></a>
  <% end %>
<% end %>

<% content_for :cover_left_right do %>
  <h1><a href="/o/<%=@organisation.username_or_id%>"><%=@organisation.name%></a></h1>
<% end %>

<%= partial :cover %>

<div class="row">

  <div class="col-sm-4 cover-sidebar">

    <div class="table-hr-container">
      <table class="table table-hr" >
        
        <% if @organisation.organisation_type %>
          <tr>
            <td>Organisation type</td>
            <td>
              <a href="/organisations?organisation_type=<%=@organisation.organisation_type%>" class="badge badge-primary"><%=@organisation.organisation_type%></a>
            </td>  
          </tr>
        <% end %>         
        
        <% if @organisation.address %>
          <tr>
            <td>Address</td>
            <td>
              <%=@organisation.address%>
            </td>  
          </tr>
        <% end %>         

        <% if @organisation.website %>
          <tr>
            <td>Website</td>
            <td>
              <a target="_blank" href="<%=@organisation.website%>"><%=@organisation.website%></a>
            </td>  
          </tr>
        <% end %>          

      </table>     

      <%= partial :share %>

      <% if @organisation.coordinates or @organisation.affiliations.any? { |affiliation| affiliation.account.coordinates } %>
        <div style="margin-top: 20px">
          <style>#map-canvas { height: 200px !important }</style>
          <%= partial :'maps/map', :locals => {:points => [@organisation] + @organisation.affiliations.map(&:account)} %>      
        </div>
      <% end %>      

    </div>

  </div>
  <div class="col-sm-8">

    <h2><%=pluralize(@organisation.members.count,'person')%> from this <%=I18n.t(:organisation)%></h2>
    <%= partial :'accounts/list', :locals => {:scope => 'organisation', :scope_id => @organisation.id} %>

  </div>
</div>
