<div style="text-align: center">

  <div class="card">
    <h3 class="card-header"><%=group.slug%> has <%=pluralize(group.members.count,'member')%></h3>
    <div class="card-body">

      <p class="lead">Join them!</p>

      <% form_for Account.new, "/groups/#{group.slug}/join", :method => 'get', :class => 'form-horizontal' do |f| %>
        <% if !current_account %>
          <%= f.text_block :name %>
          <%= f.text_block :email %>     
        <% end %>
        <button type="submit" class="btn btn-primary">Join</button>
      <% end %> 

      <div class="mt-3">
        <% random(group.members.where(:picture_uid.ne => nil), 9).each {  |account| %>
          <%= partial :'accounts/square', :locals => {:account => account, :style => 'width: 100px;'} %>
        <% } %>
      </div>

    </div>
  </div>

</div>