<div class="row justify-content-between">
  <div class="col">
    <h1 style="margin-top: 0"><%=I18n.t(:groups).capitalize%></h1>
  </div>
  <div class="col-auto">
    <% if !ENV['GROUP_CREATION_BY_ADMINS_ONLY'] or (current_account and current_account.admin?) %>
      <a title="<%=I18n.t(:create_a_group).capitalize%>" class="btn btn-primary" href="/groups/new"><i class="fa fa-plus"></i> <%=I18n.t(:create_a_group).capitalize%></a>
    <% end %>
  </div>
</div>


<% if current_account %>
  <h2><%=I18n.t(:your_groups).capitalize%></h2>
  <% current_account.groups.sort_by { |group| group.name.downcase.naturalized }.each { |group| %>
    <hr />
    <%= partial :'groups/group', :object => group %>  
  <% } %>
<% end %>

<% if current_account %>
  <h2 class="mt-3"><%=I18n.t(:other_groups).capitalize%></h2>
<% end %>
<% Group.where(:id.nin => (current_account ? current_account.groups.pluck(:id) : [])).where(:privacy.ne => 'secret').where(:unlisted.ne => true).sort_by { |group| group.name.downcase.naturalized }.each { |group| %>
  <hr />
  <%= partial :'groups/group', :object => group %>
<% } %>
