<ol class="breadcrumb">

  <li class="breadcrumb-item"><a href="/groups"><%=I18n.t(:groups).capitalize%></a></li>
  <li class="breadcrumb-item active"><%=@group.name%></li>
</ol>

<% @pills = [
  ([%Q{<i class="fa fa-sign-out"></i> #{I18n.t(:leave_group).capitalize}}, "/groups/#{@group.slug}/leave"] if @membership),
  ([%Q{<i class="fa fa-sign-in"></i> #{I18n.t(:join_group).capitalize}}, "/groups/#{@group.slug}/join"] if current_account and !@membership )
  ].compact %>

<% if ((@membership and @membership.admin?) or (current_account and current_account.admin?)) %>
  <%= partial :'group_administration/header' %>  
<% end %>  
<%= partial :pills %>

<% if @membership or @group.public? %>
  <script>
    $(function () {
      $('#conversations').load('/groups/<%=@group.slug%>/conversations' + location.search)
    })
  </script>
  <div class="row">
    <div class="col-sm-8">  

      <% content_for :cover_right do %>
        <% if @membership %>
          <form id="notification-level-form" method="get" action="/groups/<%=@group.slug%>/notification_level">
            <%= select_tag :level, :id => 'notification-level', :options => {'Emails on' => 'each', 'Emails off' => 'none'}, :selected => @membership.notification_level, :class => "form-control input-sm", :onchange => "this.form.submit()" %>  
          </form>
        <% end %>
      <% end %>

      <% content_for :cover_left_left do %>
        <% if @group.picture %>    
          <a href="/groups/<%=@group.slug%>"><img class="rounded-circle" style="width: 100px;" src="<%=@group.picture.thumb('500x500#').url%>" /></a>
        <% end %>
      <% end %>

      <% content_for :cover_left_right do %>
        <style>
          @media(min-width: 768px) {
            #group-title { display: inline; margin-top: 0; margin-right: 10px }
            #notification-level-form {  display:inline }
            #notification-level { display:inline-block; width: auto; height: auto; }
          }
        </style>          

        <h1 id="group-title"><%= @group.name %></h1>

        <p class="lead" style="margin: 10px 0"><%=@group.description%></p>

        <% if @group.closed? %>
          <p style="font-size: 12px">Non-members can apply for membership by visiting <span style="border-bottom: 1px dotted #999"><%=ENV['BASE_URI']%>/groups/<%=@group.slug%>/request_membership</span></p>
        <% end %>
      <% end %>

      <%= partial :cover %>

      <% if @group.landing_tab %>
        <%= @group.landing_tab %>
      <% end %>

      <div id="conversations" class="page-container" style="margin-top: 20px; margin-bottom: 20px"> 
        <h2><i class="fa fa-spin fa-circle-o-notch"></i></h2>
      </div>

    </div>
    <div class="col-sm-4">
      <% if current_account %>
        <h2 style="margin-top: 0">
          <%=I18n.t(:members, count: @group.members.count)%>
        </h2>
        <style>
          #group-members .pagination { display: none }
        </style>
        <div id="group-members">
          <%= partial :'accounts/list', :locals => {:scope => 'group', :scope_id => @group.id} %>
        </div>
        <a style="margin-bottom: 10px" class="btn btn-hg btn-primary btn-block" href="/groups/<%=@group.slug%>/members"><i class="fa fa-search"></i> Browse all members</a>      
      <% else %>
        <%= partial 'groups/join', :locals => {:group => @group} %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= partial 'groups/join', :locals => {:group => @group} %>
<% end %>
