
<% @pills = [
  [%Q{<i class="fa fa-pencil"></i> #{I18n.t(:edit_event).capitalize}}, "/events/#{@event.id}/edit"],
  ([%Q{<i class="fa fa-check"></i> Approve}, "/events/#{@event.id}/approve"] if admin? && !@event.approved?),
  ] %>

<div class="row">
  <div class="col-sm-8">

    <h1 style="margin-top: 0; ">
      <%= @event.name %>
      <% if admin? and !@event.approved %>
        <i class="fa fa-warning"></i>
      <% end %>      
    </h1>

    <%= partial :pills %>

    <div class="table-hr-container">
      <table class="table table-hr" >
        <tr>
          <td>Date</td>
          <td><%= @event.when_details %></td>
        </tr>

        <% if @event.location %>
          <tr>
            <td>Location</td>
            <td><a href="http://www.google.co.uk/maps?q=<%= URI.encode(@event.location) %>" target="map"><%= @event.location %></a></td>
          </tr>
        <% end %>  

        <% if @event.organisation_id or @event.organisation_name %>
          <tr>
            <td>Host</td>
            <td>
              <% if @event.organisation_id %>
                <a href="<%=ENV['BASE_URI']%>/o/<%=@event.organisation.username_or_id%>"><%= @event.organisation.name %></a>
              <% else %>
                <%= @event.organisation_name %>
              <% end %>
            </td>
          </tr>
        <% end %> 

        <% if @event.more_info %>
          <tr>
            <td>Full details</td>
            <td><a target="_blank" href="<%=@event.more_info%>"><%=@event.more_info%></td>
          </tr>
        <% end %>   

        <tr>
          <td>Listed by</td>
          <td><a href="<%=ENV['BASE_URI']%>/<%=@event.account.username_or_id %>"><%=@event.account.name%></a></td>
        </tr>
      </table>
    </div>

    <%= @event.details  %>  

  </div>
  <div class="col-sm-4">
    <% if @event.coordinates %>
      <style>#map-canvas { height: 50vh !important }</style>
      <%= partial :'maps/map', :locals => {:points => ([@event] + @event.nearby_accounts), :centre => @event} %>
    <% end %>
  </div>

  <div>
    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%= 
    @event.name 
    %>&dates=<%=
    @event.start_time.strftime("%G%m%dT%H%M00Z") + "/" + @event.end_time.strftime("%G%m%dT%H%M00Z") 
    %>&details=<%= @event.details 
    %>&location=<%= @event.location 
    %>&trp=false&sprop=&sprop=name:"
    target="_blank" rel="nofollow">Add to my calendar</a>
  </div>
</div>

