
<p>
  Hi <%=endorsement.endorsed.firstname%>,
</p>

<p>
  <a href="<%=Config['BASE_URI']%>/<%=endorsement.endorser.username_or_id%>"><%=endorsement.endorser.name%></a> just indicated their trust in you on <%=Config['SITE_NAME']%>.
</p>

<p>
  <a href="<%=Config['BASE_URI']%>/<%=endorsement.endorsed.username_or_id%>">View your profile</a>
</p>


