
<p>
  Hi <%=endorsement.endorsed.firstname%>,
</p>

<p>
  <a href="<%=Config['BASE_URI']%>/<%=endorsement.endorser.username_or_id%>"><%=endorsement.endorser.name%></a> just indicated their trust in you on <%=Config['SITE_NAME']%>, so you're now part of the <a href="<%=Config['BASE_URI']%>/trustchain"><%=Config['SITE_NAME']%> trustchain</a>.
  You can now indicate your trust in others to grow the trustchain.
</p>