
<p>
  Hi <%=endorsement.endorsed.firstname%>,
</p>

<p>
  <a href="<%=ENV['BASE_URI']%>/<%=endorsement.endorser.username_or_id%>"><%=endorsement.endorser.name%></a> just indicated their trust in you on psychedelic.community.
</p>

<p>
  <a href="<%=ENV['BASE_URI']%>/<%=endorsement.endorsed.username_or_id%>">View your profile</a>
</p>


