
<p>
  <%= event.account.name %> listed the event <a href="<%=ENV['BASE_URI']%>/events/<%=event.id%>"><%=event.name%></a> at <%= event.location %> from <%= event.when_details %>.
</p>

<% if event.details %>
  <blockquote><%= event.details %></blockquote>
<% end %>

<p>
  <a href="<%=ENV['BASE_URI']%>/events/<%=event.id%>">View details</a>
</p>