
<p>
  <%= group.account.name %> created the group <a href="<%=ENV['BASE_URI']%>/groups/<%=group.slug%>"><%=group.name%></a> based in <%= group.location %>.
</p>

<p>
  <a href="<%=ENV['BASE_URI']%>/groups/<%=group.slug%>">View details</a>
</p>