
<p>
  <a href="<%=Config['BASE_URI']%>/<%=meetup.account.username_or_id%>"><%= meetup.account.name %></a> suggested a meetup at <%= meetup.location %> from <%= meetup.when_details %>.
</p>

<% if meetup.details %>
  <blockquote><%= meetup.details %></blockquote>
<% end %>

<p>
  <a href="<%=Config['BASE_URI']%>/meetups/<%=meetup.id%>">View details</a> &middot; <a href="<%=Config['BASE_URI']%>/meetups/<%=meetup.id%>/rsvp?status=Going">I'm going</a> &middot; <a href="<%=Config['BASE_URI']%>/meetups/<%=meetup.id%>/rsvp?status=Interested">I'm interested</a>
</p>