
  <%= message.gsub("\n",'<br />') %>

  <br />
  <br />
  <hr />
  This message was sent via your <a href="<%=ENV['BASE_URI']%>/<%=receiver.username_or_id%>">public profile</a> on <%=ENV['SITE_NAME']%> by <a href="<%=ENV['BASE_URI']%>/<%=sender.username_or_id%>"><%=sender.name%></a>. <br />
  Questions/praise/concerns? Email <%=ENV['HELP_ADDRESS']%>
