
<p>
  The organisation <a href="<%=ENV['BASE_URI']%>/o/<%=organisation.username_or_id%>"><%=organisation.name%></a> was listed in <%= organisation.location %>.
</p>

<p>
  <a href="<%=ENV['BASE_URI']%>/o/<%=organisation.username_or_id%>">View details</a>
</p>