
<% if (slides = Slide.where(:series.in => [nil, 'signed-in'])).count > 0 %>
  <%= partial :carousel, :locals => {:slides => slides} %>
<% end %>


<div class="row">

  <div class="col-md-9">
    <script>
      $(function () {
        $('#map').load('/map?<%= {form: true, global: true, accounts: true, events: true, groups: true, organisations: true}.to_query %>')
      });
    </script>
    <style>
      @media(min-width: 768px) {
        #map { height: 80vh }
      }
    </style>
    <div id="map"><i class="fa fa-spin fa-circle-o-notch"></i></div>
  </div>
  <div class="col-md-3">
    <h2>Near you</h2>
    <% if current_account and current_account.coordinates %>
      <h3>People <span class="badge badge-primary"><%=current_account.nearby_accounts.count%></span></h3>      

      <h3>Organisations <span class="badge badge-primary"><%=current_account.nearby_organisations.count%></span></h3>
      <% current_account.nearby_organisations.each { |object| %>
        <div class="mb-1"><%=partial :"maps/organisation", :object => object %></div>
      <% } %>

      <h3>Events <span class="badge badge-primary"><%=current_account.nearby_events.future.count%></span></h3>
      <% current_account.nearby_events.future.each { |object| %>
        <div class="mb-1"><%=partial :"maps/event", :object => object %></div>
      <% } %>

      <h3>Groups <span class="badge badge-primary"><%=current_account.nearby_groups.count%></span></h3>
      <% current_account.nearby_groups.each { |object| %>
        <div class="mb-1"><%=partial :"maps/group", :object => object %></div>
      <% } %>          
    <% else %>

      <script>
        $(function () {
          var autocomplete = new google.maps.places.Autocomplete($('#account_location')[0]);
          $('#account_location').keydown(function (e) {
            if (e.which == 13 && $('.pac-container:visible').length)
              return false;
          });
        })
      </script>

      <% if current_account %>
        Enter your location to view people, organisations, events and groups near you:
      <% else %>
        Sign up to view people, organisations, events and groups near you:
      <% end %>
      <% form_for @account, @account.new_record? ? '/sign_up' : '/me/edit', :id => 'me-form', :class => 'mt-1 form-horizontal', :multipart => true do |f| %>
        <%= hidden_field_tag :return, :value => true %>
        <%= f.text_block :location, :label_class => 'd-none', :hint => ('By providing a location, you will appear on the psychedelic.community map' if current_account) %>   
        <%= f.submit_block button_text: (current_account ? 'Save': 'Next') %>
      <% end %>
    <% end %>
  </div>
</div>