
<div class="row justify-content-between">
  <div class="col">
    <h1 style="margin-top: 0">Translations</h1>
  </div>
  <div class="col-auto">
    <% if current_account.admin? %>
      <a class="btn btn-primary" target="_blank" href="/admin/new/Language">New language</a>
    <% end %>    
  </div>
</div>


<% if current_account.admin? %>
  <p>Please note you must restart the app for new translations to take effect.</p>
<% end %>

<% form_tag '/translations' do %>

  <table class="translations table">
    <thead>
      <tr>
        <th></th>
        <% Translation.defaults.each { |k,v| %>
          <th><%=k%></th>
        <% } %>
      </tr>
    </thead>
    <tr>
      <th>Default</th>
      <% Translation.defaults.each { |k,v| %>
        <td>
          <%=v%>
        </td>   
      <% } %>
    </tr>
    <% Language.each { |language| %>
      <tr>
        <th><%=language.name%> (<%=language.code%>)</th>
        <% Translation.defaults.each  { |k,v| %>
          <td style="min-width: 10em">
            <%= text_field_tag "translations[#{language.id}][#{k}]", :value => language.translations.find_by(key: k).try(:value), :class => 'form-control' %>
          </td>
        <% } %>   
      </tr>
    <% } %>
  </table>

  <button class="btn btn-primary">Update translations</button>

<% end %>


