<%= partial :'accounts/cover' %>

<div class="row">

  <div class="col-sm-4 cover-sidebar">

    <%= partial :'accounts/sidebar' %>

  </div>
  <div class="col-sm-8">

    <% if @account.story %>
      <h2><%=@account.firstname%>'s story</h2>
      <p>
        <%= Rinku.auto_link(@account.story.gsub("\n",'<br />')) %>
      </p>   
    <% end %>  

    <h2>Endorsed as a tripsitter by <span class="badge badge-primary"><%= @account.endorsements_as_endorsee.count%></span></h2>

    <div class="image-wall">
      <% @account.endorsed_by.order('endorsement_count desc').each { |account| endorsement = @account.endorsements_as_endorsee.find_by(endorser: account) %>
        <%= partial :'accounts/square', :locals => {:account => account, :content => endorsement.body, :style => "width: 64px"} %>
      <% } %>   
    </div>

    <h2 class="mt-3">Endorses <span class="badge badge-primary"><%= @account.endorsements_as_endorser.count%></span></h2>

    <div class="image-wall">
      <% @account.endorses.order('endorsement_count desc').each { |account| endorsement = @account.endorsements_as_endorser.find_by(endorsee: account) %>
        <%= partial :'accounts/square', :locals => {:account => account, :content => endorsement.body, :style => "width: 64px"} %>        
      <% } %>   
    </div>      

    <% if @shared_conversations and !@shared_conversations.empty? %>
      <h2 class="mt-3">Recent conversations</h2>
      <%= partial :'conversations/conversations_table', :locals => {:conversations => @shared_conversations}%>
    <% end %>    

  </div>
</div>
