
<%= partial :'accounts/cover' %>

<div class="row">

  <div class="col-sm-4 cover-sidebar">

    <%= partial :'accounts/sidebar' %>

  </div>
  <div class="col-sm-8">

    <% if @account.story %>
      <h2><%=@account.firstname%>'s story</h2>
      <p>
        <%= Rinku.auto_link(@account.story.gsub("\n",'<br />')) %>
      </p>   
    <% end %>  

    <% if @shared_conversations and !@shared_conversations.empty? %>
      <h3>Recent conversations</h3>
      <%= partial :'conversations/conversations_table', :locals => {:conversations => @shared_conversations}%>
    <% end %>    
    
  </div>
</div>
    