
<% if @account.new_record? %>
  <h1>Sign up</h1>
<% else %>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/people"><%=I18n.t(:people).capitalize%></a></li>
    <li class="breadcrumb-item"><a href="/<%=current_account.username_or_id%>"><%=current_account.name%></a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>

<% end %>

<div class="container">

  <script>
    $(function () {
      var autocomplete = new google.maps.places.Autocomplete($('#account_location')[0]);
      $('#account_location').keydown(function (e) {
        if (e.which == 13 && $('.pac-container:visible').length)
          return false;
      });
    })
  </script>

  <% form_for @account, @account.new_record? ? '/sign_up' : '/me/edit', :id => 'me-form', :class => 'form-horizontal', :multipart => true do |f| %>

    <%= f.text_block :name %>
    <%= f.email_block :email %>
    <%= f.text_block :username %>
    <%= f.text_block :location %>
  
  <script>
    $(function() {
      $('<div class="alert alert-primary">By providing a location, you will appear on the psychedelic.community map and make your profile public/indexable by search engines</div>').insertAfter('label[for=account_location]')      
    })
  </script>  


    <%= f.select_block :time_zone %>
    <%= f.image_block :picture, rotate: false, hint: ('Connect an account above to automatically grab a picture' if !@account.picture and Provider.all.any? { |provider| provider.registered? }) %>    

    <% if @account.persisted? %>
      <%= partial :'accounts/affiliations', :locals => {:f => f} %>   

      <% if ENV['ACCOUNT_TAGS_PREDEFINED'] %>
        <% if AccountTag.count > 0  %>
          <%= f.check_boxes_block :account_tag_ids, options: AccountTag.order('name asc').map { |account_tag| [account_tag.name, account_tag.id] }, checked: @account.account_tagships.map(&:account_tag_id) %>
        <% end %>
      <% else %>  
        <%= partial :'accounts/tagships', :locals => {:f => f} %>
      <% end %>  

      <style>#account_headline { height: 6em }</style>
      <script>
        $(function () {
          $('#account_headline').simplyCountable({
            counter: '#headline-counter',
            maxCount: <%= 150 %>
          });
        }
        )
      </script>
      <%= f.text_area_block :headline, hint: %Q{<span id="headline-counter"></span>} %>          
      <%= f.text_area_block :story %>

      <%= f.url_block :website %>
      <%= f.url_block :facebook_profile_url %>
      <%= f.url_block :twitter_profile_url %>
      <%= f.url_block :linkedin_profile_url %>

      <%= f.check_box_block :unsubscribe_groups %>
      <%= f.check_box_block :unsubscribe_organisations %>
      <%= f.check_box_block :unsubscribe_new_member %>
      <%= f.check_box_block :unsubscribe_message %>      

    <% end %>  

    <%= f.password_block :password %>
    <%= f.submit_block button_text: 'Save' %>

  <% end %>


  <% if @account.persisted? %>
    <div class="card mt-3">
      <h3 class="card-header bg-danger text-white"><%= I18n.t(:delete_account).capitalize %></h3>
      <div class="card-body">
        <p><%= I18n.t(:delete_account_instructions) %></p>

        <% form_tag '/me/destroy', :class => 'form-inline' do %>
          <%= text_field_tag :name, :class => 'form-control mr-2' %>
          <button class="btn btn-danger"><%= I18n.t(:delete_account).capitalize %></button>
        <% end %>   
      </div>
    </div>          
  <% end %>


</div>