<% if @account.new_record? %>
  <h1>Sign up</h1>
<% else %>
  <%= partial :'accounts/nav' %>
<% end %>

<% form_for @account, @account.new_record? ? '/sign_up' : '/me/edit', :id => 'me-form', :class => 'form-horizontal', :multipart => true do |f| %>

  <%= f.text_block :name %>
  <%= f.email_block :email %>
  <%= f.text_block :username %>
  <%= f.text_block :location %>       
  <%= f.image_block :picture, rotate: false, hint: ('Connect an account above to automatically grab a picture' if !@account.picture and Provider.all.any? { |provider| provider.registered? }) %>
  <%= f.password_block :password %>


  <% if @account.persisted? %>
    <%= partial :'accounts/affiliations', :locals => {:f => f} %>  
    <%= f.select_block :time_zone %>
    <style>#account_headline { height: 6em }</style>
    <script>
      $(function () {
        $('#account_headline').simplyCountable({
          counter: '#headline-counter',
          maxCount: <%= 150 %>
        });
      })
    </script>
    <%= f.text_area_block :headline, hint: %Q{<span id="headline-counter"></span>} %>          
    <%= f.text_area_block :story %>
    
    <%= f.url_block :website %>
    
    <% if Config['ACCOUNT_TAGS_PREDEFINED'] %>
      <% if AccountTag.count > 0  %>
        <%= f.check_boxes_block :account_tag_ids, options: AccountTag.order('name asc').map { |account_tag| [account_tag.name, account_tag.id] }, checked: @account.account_tagships.map(&:account_tag_id) %>
      <% end %>
    <% else %>  
      <%= partial :'accounts/tagships', :locals => {:f => f} %>
    <% end %>

  <% end %>  

  <%= f.submit_block button_text: I18n.t(:update_account).capitalize %>

<% end %>


<% if @account.persisted? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= I18n.t(:delete_account).capitalize %></h3>
    </div>
    <div class="panel-body">
      <p><%= I18n.t(:delete_account_instructions) %></p>

      <% form_tag '/me/destroy', :class => 'form-inline' do %>
        <%= text_field_tag :name, :class => 'form-control' %>
        <button class="btn btn-danger"><%= I18n.t(:delete_account).capitalize %></button>
      <% end %>   
    </div>
  </div>          
<% end %>


