<h1>The Trustchain</h1>
<script>
  $(function () {

    var cy = window.cy = cytoscape({
      container: document.getElementById('cy'),
      boxSelectionEnabled: false,
      autounselectify: true,
      layout: {
        name: 'dagre'
      },
      style: [
        {
          selector: 'node',
          style: {
            'content': 'data(name)',
            'text-opacity': 0.5,
            'text-valign': 'center',
            'text-halign': 'right',
            'background-color': '#228DFF',
            'text-margin-x': '2px',
            'background-width': '100%',
            'background-height': '100%'
          }
        },
        {
          selector: 'edge',
          style: {
            'curve-style': 'bezier',
            'width': 4,
            'target-arrow-shape': 'triangle',
            'line-color': '#84BEF8',
            'target-arrow-color': '#84BEF8'
          }
        }
      ],
      elements: {
        nodes: [
<% (accounts = Account.or({:id.in => Endorsement.pluck(:endorsed_id)}, {:root => true})).each { |account| %>
            {data: {id: '<%=account.id%>', name: '<%=account.name%>', href: '/<%=account.username_or_id%>'}},
<% }%>
        ],
        edges: [
<% Endorsement.each { |endorsement| %>
            {data: {source: '<%=endorsement.endorser_id%>', target: '<%=endorsement.endorsed_id%>'}},
<% } %>
        ]
      },
    });
<% accounts.each_with_index { |account,i| %>
      cy.nodes()[<%=i%>].css("background-image", "<%=account.picture ? account.picture.thumb('400x400#').url : "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(account.email.downcase)}?s=400&d=#{URI::encode("#{ENV['BASE_URI']}/images/silhouette.png")}" %>")
<% } %>

    cy.on('tap', 'node', function () {
      try { // your browser may block popups
        window.open(this.data('href'));
      } catch (e) { // fall back on url change
        window.location.href = this.data('href');
      }
    });
  })
</script>
<div style="height: 400px; width: 100%" id="cy"></div>